.idea/

npm-debug.log

# Ignore NPM package folders
node_modules

# Ignore test build files
/lib

# Ignore Rush temporary files
/common/temp/**

# Ignore Microsoft Rush temp files
.rush/

# Ignore VsCode History plugin directory
.history/

#**/lib/**

