# Use this pattern when or alike when 3rd party apps will be build 

#!dist/esm
#dist/esm/api
#dist/esm/dao
#dist/esm/ddl
#dist/esm/execute
#dist/esm/interface
#dist/esm/resolve
#dist/esm/*
#!dist/esm/index*